
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(255, 255, 0, 0.139);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    font-family: 'Lora', serif;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: inset 10px rgb(0, 208, 255);
    background-color: rgba(37, 159, 225, 0.502);
}

header {
    display: flex;
    justify-content: flex-end;
    height: 1fr;
    box-shadow: var(--shadow);
    position: fixed;
    background-color: rgba(255, 255, 0, 0.139);
    width: 100%;
    z-index: 100;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 107, 189);
    margin: 5px;
    padding: 5px;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 107, 189);
    padding: 5px;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
    font-size: 20px;
    padding: 5px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

@keyframes pulse {
    80% {
        transform: rotate3d(10, 10, 10, 20deg) scale(1);
    }
}

#rss-img, #boaty-img {
    height: 400px;
    margin: 1fr;
    max-width: 80%;
    max-height: 80%;
}

button {
    margin: 10px;
    padding: 5px;
    font-size: larger;
    color:rgba(21, 124, 147, 0.68);
    background-color: rgb(255, 247, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: double 4px rgb(206, 182, 2);
    border-radius: 30px;
    align-content: center;
    text-align: center;
}
#quiz-results {
    display: none;
    font-size: 1.5rem;
    background-color: rgba(21, 124, 147, 0.68);
    align-content: center;
    justify-content: center;
    border: 2px inset royalblue;
    border-radius: 20px;
    color:rgb(242, 255, 5);
    min-width: flex;
    text-align: center;
    padding: 5px;
    margin: 10px;
    text-justify: unset;
}
ol {
    list-style: decimal;
    font-size: 20px;
    align-content: center;
}
ul {
    list-style: circle;
    font-size: 20px;
    align-content: center;
    max-width: 80%;
}